{% extends 'core/base.html' %}

{% block content %}

    <section class="about_section layout_padding">
      <div class="container">
        <div class="heading_container">
          <h2 class="text-light">من نحن؟</h2>
        </div>
        <div class="content_container">
          <p class="text-light text-right">
            "موعدك" هو نظام مبتكر يهدف إلى تسهيل عملية حجز المواعيد وتتبع الطوابير بفعالية وسهولة. نحن هنا لنساعدك على توفير وقتك وتحقيق تجربة مريحة في إدارة المواعيد.
          </p>
          <h3 class="text-light text-right">رسالتنا</h3>
          <p class="text-light text-right">
            تحسين جودة الخدمات المقدمة من خلال حلول تقنية تساعد الأفراد والمؤسسات على توفير الوقت وتنظيم الجهود.
          </p>
          <h3 class="text-light text-right">رؤيتنا</h3>
          <p class="text-light text-right">
            أن نكون الشريك التقني الأول في إدارة المواعيد والطوابير بما يضمن تجربة سلسة ومتكاملة تلبي احتياجات جميع المستخدمين.
          </p>
          <h3 class="text-light text-right">خدماتنا</h3>
          <ul class="text-light text-right">
            <li>حجز المواعيد بسهولة من أي مكان وفي أي وقت.</li>
            <li>متابعة الطوابير بشكل مباشر لمعرفة وقت الانتظار المتوقع.</li>
            <li>إشعارات فورية حول مواعيدك أو تغييرات محتملة.</li>
            <li>تقارير شاملة لتحليل بيانات المواعيد وتطوير الخدمات.</li>
          </ul>
        </div>
      </div>
    </section>

{% endblock %}