{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<section class="slider_section position-relative">
  <div class="container">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <br><br><br><br><br>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col">
              <div class="detail-box">
                <div>
                  <h2>مرحبًا بكم في</h2>
                  <h1 class="text-warning">موعدك</h1>
                  <p>النظام الذي يسهل عليك حجز المواعيد وتتبع الطوابير بكل سهولة</p>
                  <div class="">
                    <a href="{% url 'contact' %}">اتصل بنا</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col">
              <div class="detail-box">
                <div>
                  <h2>مرحبًا بكم في</h2>
                      <h1 class="text-warning">موعدك</h1>
                  <p >حجز مواعيدك في أي وقت ومن أي مكان بسهولة وسرعة</p>
                  <div class="">
                    <a href="{% url 'contact' %}">اتصل بنا</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col">
              <div class="detail-box">
                <div>
                  <h2>مرحبًا بكم في</h2>
                  <h1 class="text-warning">موعدك</h1>
                  <p>هدفنا هو توفير تجربة مريحة ومتكاملة تساعدك على تنظيم وقتك والاستفادة من يومك بأفضل طريقة ممكنة</p>
                  <div class="">
                    <a href="{% url 'contact' %}">اتصل بنا</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br><br><br>
<section class="do_section layout_padding">
  


  <div class="container">
    <div class="heading_container">
      <h2>لماذا تختار موعدك؟</h2>
      <p>حجز المواعيد ببساطة: اختر الخدمة والتوقيت المناسب لك بخطوات سهلة وسريعة.
        تنبيهات فورية: إشعارات لحظية لإبلاغك بكل ما يخص دورك.
        متابعة الطوابير: عرض مباشر لموقعك في الطابور مع وقت الانتظار المتوقع.
        تجربة استخدام سلسة: تصميم حديث يناسب جميع الأعمار والمستويات التقنية.</p>
    </div>
  </div>

    <div class="do_container">
      <a href="https://www.moi.pna.ps/" >
      <div class="box ">
        <div class="img-box">
          <img src="{% static 'core/images/d-3.png' %}" alt="">
        </div>
        <div class="detail-box">
          <h6 class="text-dark">وزارة الداخلية</h6>
        </div>
      </div>
      </a>

      <a href="https://site.moh.ps/" >
      <div class="box">
        <div class="img-box">
          <img src="{% static 'core/images/d-3.png' %}" alt="">
        </div>
        <div class="detail-box">
          <h6 class="text-dark">وزارة الصحة</h6>
        </div>
      </div>
    </a>

    <a href="https://mofa.pna.ps" >
      <div class="box ">
        <div class="img-box">
          <img src="{% static 'core/images/d-3.png' %}" alt="">
        </div>
        <div class="detail-box">
          <h6 class="text-dark">وزارة الخارجية</h6>
        </div>
      </div>
    </a>

    <a href="https://moe.edu.ps/" >
      <div class="box ">
        <div class="img-box">
          <img src="{% static 'core/images/d-3.png' %}" alt="">
        </div>
        <div class="detail-box">
          <h6 class="text-dark">  وزارة التربية والتعليم</h6>
        </div>
      </div>
    </a>

    <a href="https://www.moa.pna.ps/" >
      <div class="box ">
        <div class="img-box">
          <img src="{% static 'core/images/d-3.png' %}" alt="">
        </div>
        <div class="detail-box">
          <h6 class="text-dark">وزارة الزراعة</h6>
        </div>
      </div>
    </a>

    </div>
</section>

{% endblock %}