{% extends 'core/base.html' %}

{% block content %}
<div class="container" style="background-color: #000000; color: #FFFFFF; padding: 20px;">
  <h2>تسجيل حساب جديد</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-group">
            {{ form.username.label }}
            {{ form.username }}
            {{ form.username.errors }}
        </div>
        <div class="form-group">
            {{ form.email.label }}
            {{ form.email}}
            {{ form.email.errors }}
        </div>
        <div class="form-group">
            {{ form.password1.label }}
            {{ form.password1 }}
            {{ form.password1.errors }}
        </div>
        <div class="form-group">
            {{ form.password2.label }}
            {{ form.password2}}
            {{ form.password2.errors }}
        </div>
        <button type="submit" class="btn btn-success">تسجيل</button>
    </form>
    <p>هل لديك حساب بالفعل؟ <a href="{% url 'login' %}">تسجيل الدخول</a></p>
</div>
{% endblock %}